body {
font-size:14px;
lione-height:26px ;
font-color:#333333;
font-weight: normal;
font-family:PT Sans;
text-align: center;
}

.main-header {
  font-weight: bold;
}

h1 {
  font-size:21px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size:21px;
  font-weight: bold;
}

h3 {
  font-size:21px;
  font-weight: bold;
}

.first-reason {
font-color:#ffffff;

}
.second-reason {
font-color:#ffffff;
}

/*______________*/
html,
body {
  min-width: 1280px;
  min-height: 2762px;
  margin: 0;
  padding: 0;

}

body {

  /*background-size: 1122px auto;*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
   min-height: 56px;
}

.container {
width: 1200px;
/*padding: 0 40px;*/
margin: 0 auto;
padding: 0 auto;
}

.main-navigation {
display: inline-block;
vertical-align: top;
text-align: center;
width: 1200px;
min-height: 56px;
padding-left: 6%; /*73px*/
padding-right: 6%;

}

.main-navigation li {
display: inline-block;
vertical-align: top;
text-align: center;
width: 20%;

}

.main-navigation li:first-child {
  text-align: left;
}

.main-navigation li:last-child {
text-align: right;
}



.main-image {
width: 1200px;
height: 508px;
margin-right: auto;
margin-left: auto;
margin-bottom: 63px;
}

.first-reason .white-text {
width: 33%;
float: left;
min-height: 256px;
background-color: #81b3d2;
}

.first-reason .image {
width: 66%;
float: left;
min-height: 256px;
}

.housing-food-souvenirs {
  min-height: 330px;
}

.housing-food-souvenirs li {
  width: 33%;
  float: left;
}

.second-reason .image {
  width: 66%;
  min-height: 256px;
  float: left;
}
.second-reason .white-text {
  width: 33%;
  min-height: 256px;
  float: left;
  background-color: #81b3d2;
}
.three-reasons {
  min-height: 256px;
  background-color: #eeeeee;
}
.three-reasons li {
  width: 33%;
  float:left;
}

.index-content {
width: 568px;
height: 481px;
margin-bottom: 78px;
margin-left: 316px;
margin-right: 316px;

}
.index-content .btn {
  height: 86px;
  width:100%;
  background-color: #766357;
}

.search-form {
padding: 55px;
width: 458px;
height: 285px;
background-color: #ffffff;
}
.search-form input {
width: 346px;
height: 38px;
margin-bottom: 29px;

}
/*. {
  width: 114px;
}*/


.search-form button {
  width: 100%;
  background-color: #81b3d2;
  height: 58px;
}

.map {
  width: 100%;
  min-height: 593px;
  }

.main-footer {
  margin-top: 78px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-contacts{
  width: 33%;
  float: left;
  min-height: 120px;
}
.footer-social{
  width: 33%;
  float: left;
  min-height: 120px;
}
.footer-copyright{
  width: 33%;
  float: right;
  min-height: 120px;
}









/*======================================
 Системное оформление - не изменять
=======================================*/
/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}
