body {
font-weight: normal;
font-size:14px;
lione-height:26px ;
font-family: 'PT Sans', sans-serif;
text-transform: uppercase;
font-color:#000000;
text-align: center;
min-width: 1200px;
margin: 0 auto;
background: #ffffff;
}

.main-header {
  font-weight: bold;

}

h1 {
  font-size:21px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size:21px;
  font-weight: bold;
}

h3 {
  font-size:21px;
  font-weight: bold;
}

.first-reason {
font-color:#ffffff;

}
.second-reason {
font-color:#ffffff;
}

/*______________*/
html,
/*body {
  min-width: 1280px;
  min-height: 2762px;
  margin: 0;
  padding: 0;
}
body {
  /*background-size: 1122px auto;*/


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-header {
   min-height: 56px;
   color: #000000;
   background: #ffffff;

}

.container {
width: 1200px;
/*padding: 0 40px;*/
margin: 0 auto;
padding: 0 auto;
position: relative;
}

.main-navigation {
display: inline-block;
vertical-align: top;
text-align: center;
width: 1200px;
min-height: 56px;
padding-left: 6%; /*73px*/
padding-right: 6%;
}

.main-navigation li {
display: inline-block;
vertical-align: top;
text-align: center;
width: 20%;
font-size: 14px;
line-height: 26px;
}

.main-navigation li:first-child {
  text-align: left;
  /*margin-right: 113px;*/
}

.main-navigation li:last-child {
text-align: right;
/*margin-left: 128px;*/
}
.main-navigation a {
  display: block;
  padding: 17px 16px;
  color: #000000;
  text-decoration: none;
    }
li:nth-child(2) a{
text-align: left;
}
li:nth-child(3) a{
  text-align: right;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}
.main-navigation a:hover {
  color: #81b3d2;
}

.index-logo {
  position: absolute;
  width: 137px;
  height: 70px;
  left:50%;
  top:0%;

  padding-left: 20px;
  padding-right: 20px;
}

.main-image {
width: 1200px;
height: 508px;
margin-right: auto;
margin-left: auto;
/*margin-bottom: 58px;*/
margin-bottom: 62px;
position: relative;
}
.main-image-text{
position: absolute;
width: 488px;
height: 355px;
padding: 10px;
/*left:30%;*/
left:361px;
/*top:20%;*/
top:133px;
}

.index-title {
display: block;
margin-bottom: 53px;
}

.first-reason .white-text {
width: 33%;
float: left;
min-height: 256px;
background-color: #81b3d2;
color: #ffffff;
margin-bottom: 61px;
}

.first-reason .image {
width: 66%;
float: left;
min-height: 256px;
margin-bottom: 61px;
}

.housing-food-souvenirs ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.housing-food-souvenirs {
  min-height: 330px;
  margin-bottom: 83px;
}

.housing-food-souvenirs li {
  width: 33%;
  float: left;
}

.second-reason .image {
  width: 66%;
  min-height: 256px;
  float: left;
  }
.second-reason .white-text {
  width: 33%;
  min-height: 256px;
  float: left;
  background-color: #81b3d2;
  color: #ffffff;
    }

.three-reasons {
  min-height: 256px;
  background-color: #eeeeee;
}
.three-reasons li {
  width: 33%;
  float:left;
}
.three-reasons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.question {
  margin-bottom: 135px;
}
/*__________________*/

.map {
  width: 1200;
  height: 593px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  }

.index-content {
width: 568px;
height: 481px;
/*margin-bottom: 78px;
margin-left: 316px;
margin-right: 316px;*/
padding: 0;
position: absolute;
left: 316px;
top: 2084px;
background: #ffffff;
}
.index-content .btn {
  height: 86px;
  width:100%;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
}

.search-form {
padding: 55px;
width: 458px;
height: 285px;
background-color: #ffffff;
}
.search-form input {
width: 346px;
height: 38px;
margin-bottom: 29px;

font-family: 'PT Sans', sans-serif;
font: inherit;
color: inherit;
text-transform: inherit;
}

.search-form input:nth-child(3) {

  width: 114px;
  height: 38px;
}
.search-form input:nth-child(4) {

  width: 114px;
  height: 38px;
}

.search-form button {
  width: 100%;
  background-color: #81b3d2;
  height: 58px;
  color: #ffffff;
  text-transform: uppercase;
}



.main-footer {
  margin-top: 78px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000;
  background: #f9fbf6;
}
.footer-contacts{
  width: 33%;
  float: left;

}
.footer-social{
  width: 33%;
  float: left;

}
.footer-social a {
  margin: 0;
 margin-bottom: 36px;
}
.footer-copyright{
  width: 33%;
  float: right;

}


/*2я страница*/

.container-one{
  min-height: 86px;
  padding-left: 6%;
  padding-right: 6%;
}
.container .found{
  width: 241px;
  float: left;
}
.breadcrumb ul{
  width: 400px;
  float: left;
}
.breadcrumb a{
  width: 241px;
  float: right;
}
/*.housing {
width: 100%;
padding-left: 6%;
padding-right: 6%;
min-height: 152px;
margin: 0 auto;

}*/


.filter{
  min-height: 217px;
  padding-left: 6%;
  padding-right: 6%;
}
.filter .filter-one{
  width: 241px;
  float: left;
  margin-top: 31px;
  margin-bottom: 31px;
}
.filter .filter-two{
  width: 400px;
  float: left;
  margin-top: 31px;
  margin-bottom: 31px;
}
.filter .filter-three{
  width: 241px;
  float: right;
  margin-top: 31px;
  margin-bottom: 31px;
}

.housing{
  min-height: 152px;
  padding-left: 6%;
  padding-right: 6%;

}
.housing .image{
width: 241px;
float: left;
margin-left: 30px;
margin-top: 31px;
margin-bottom: 31px;
}
.housing .text{
width: 400px;
float: left;
margin-top: 31px;
margin-bottom: 31px;
}
.housing .stars-rating{
  width: 241px;
  float: right;
  margin-top: 31px;
  margin-bottom: 31px;
  }
/*======================================
 Системное оформление - не изменять
=======================================*/
/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

